@import url("/public/css/lib/index/navbar.css");
@import url("/public/css/dashboard.css");

main {
    padding-top: 78px;
    background-color: black;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}

#account-settings-container {
    outline: 1px solid red;
}

#account-settings-container {
    outline: 1px solid red;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* #account-settings-container h1 {
    
} */
