@import url('/public/css/lib/admin/search-bar.css');

#users-item {
    background-color: #E50914;
}

#users-item:hover {
    background-color: #bd0912;
}

/*.arrow-down {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    right: 10px;*/
/*    transform: translateY(-50%);*/
/*    width: 0;*/
/*    height: 0;*/
/*    border-left: 5px solid transparent;*/
/*    border-right: 5px solid transparent;*/
/*    border-top: 5px solid #fff;*/
/*    transition: transform 0.3s ease;*/
/*}*/

/*.sort-button.active .arrow-down {*/
/*    transform: translateY(-50%) rotate(180deg);*/
/*}*/

/*.dropdown {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*}*/

/*.dropdown-content {*/
/*    display: none;*/
/*    position: absolute;*/
/*    background-color: #f9f9f9;*/
/*    min-width: 160px;*/
/*    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);*/
/*    z-index: 1;*/
/*}*/

/*.filter-button .filter-text {*/
/*    margin-right: 10px;*/
/*}*/

/*.filter-button.active .arrow-down {*/
/*    transform: translateY(-50%) rotate(180deg);*/
/*}*/

h2 {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    padding-bottom: 10px;
    margin: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease;
    align-items: normal;
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 4px;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    display: flex;
    flex-direction: column;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

.edit-user-modal {
    margin-bottom: 10px;
    text-align: left;
}
.edit-user-modal td label {
    margin: 0;
    padding-right: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 14px;
}

.edit-user-modal input {
    width: 100%;
    box-sizing: border-box;
}

.modal-content button {
    padding: 4px 8px;
    margin-top: 10px;
    background-color: #831010;
    border-radius: 4px;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 20%;
}

.modal-content button:hover {
    background-color: #690c0c;
}
