html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}

* {
    color: white;
}

.wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
    max-height: 100vh;
    transition: max-height 0.5s ease;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: flex-start;
    padding-top: 80px;
}

.stream-container {
    text-align: center;
    width: 100%;
    flex-grow: 1;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.video-wrapper {
    box-sizing: border-box;
    height: auto;
}

.video-wrapper video {
    width: 640px;
    height: 360px;
    border-radius: 8px;
}

.video-info{
    margin-top: 30px;
    text-align: left;
    width: 640px;
}

.video-info h1 {
    margin-top: 0;
    font-family: "Roboto", sans-serif;
}

.video-info p {
    font-family: "Roboto", sans-serif;
}

.pagination
{
    margin-top: auto;
    margin-bottom: 50px;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: row;
}

.pagination button {
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    padding: 8px 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: auto;
    margin: 5px;
    color: black
}